body{
    background-color: black;
    
}
h2{
    text-align: center;
    font-size: 30px;
    font-style: italic;
    color:red;
}


img{
    height: 300px;
}
div{
color:rgb(20, 218, 202);

}
fieldset{
    background-color:rgb(0, 0, 0);
    width: 98%;
}
